<p id="notice"><%= notice %></p>
<div id="map"></div>
<div class="show_img">
  <%= image_tag @user.img, class: 'thumbnail' %>
</div>

<p>
  <%= content_tag :div, id: 'longitude' do -%>
    <%= @user.longitude %>
  <% end -%>
</p>

<p>
  <%= content_tag :div, id: 'latitude' do -%>
    <%= @user.latitude %>
  <% end -%>
</p>
<%= link_to "http://maps.google.com/maps?daddr=#{@user.latitude},#{@user.longitude}&amp;ll=" do %>
  <button>Navigate to Your Friend</button>
<% end %>
<%= link_to 'Back', users_path %>
<style>
  #map {
  height: 400px;
  width: 100%;
  }
</style>
<script>
  function initMap() {
    var longitude = document.getElementById('longitude').innerHTML;
    var latitude = document.getElementById('latitude').innerHTML;
    var location = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBao0VAu2FTUVuvMQ_40ZN82hm4aXxIFEM&callback=initMap">
</script>
